@use "../../styles/variables" as *;

.nav {
    background-color: $white;
    top: 0;
    position: sticky;
    display: grid;
    z-index: 1000;
    grid-template-columns: repeat(2, 1fr);

    ul {
        display: flex;
        gap: 1rem;
        
        li {
            border-right: 1px solid $blue;
            padding-right: 1rem;
            list-style: none;
            cursor: pointer;

            &:nth-child(4) {
                border-right: none;
            }

            a {
                color: $blue;
                text-decoration: none;
            }


            &:hover {
                text-decoration: underline;
            }
        }
    }
}